@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

::-webkit-scrollbar {
    width:2px;
    height:8px;
  }
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
  
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* .css-100dcyg{
    padding:15px !important
  } */

